# TASKS HANDS ON UNIMED

***

SEARCH BASE W/ MISSING VALUES
- UCI ML REPO
- Datasets: Titanic.SCV & SkillCraft1_Dataset.csv
- More missing values, randomize. -- DONE


DATASETS DIFERENTES PARA CADA TAREFA

HANDS ON:
- Task 1 - fill.na
            . Use drop, fill(mean), fill(median)
            . Compare results
- norm [0,1] &  PCA
- Norm. Gaussiana & PCA      
- check diff entre normalizações
- Discretização de valores
- feature selec. 
        . information gain - decision tree
        . gini - random forest
        . isomap
        . tsne
- compare FeatSelec & Disc.

## Import

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
%matplotlib inline

## Load DataSet

In [41]:
data = pd.read_csv("iris.csv")

In [39]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [40]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### FILL NA

<p> -- Drop NA
<p> -- Fill Media/Mediana, etc...

In [53]:
df_drop = df.dropna(axis=0)

In [54]:
df_drop.describe()

,GameID,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,1768.900000,4.200000,20.000000,18.400000,696.000000,118.261860,0.004513,0.000256,3.600000,0.000068,0.000397,0.003616,47.026220,57.808330,5.252920,25.000000,0.001213,6.600000,0.000139,0.000268
std,953.432332,1.316561,3.431877,10.490207,525.636123,34.518572,0.005120,0.000244,2.170509,0.000109,0.000337,0.001092,19.299703,10.631995,1.728835,7.378648,0.000524,1.264911,0.000152,0.000293
min,544.000000,2.000000,16.000000,6.000000,200.000000,62.239800,0.000015,0.000076,0.000000,0.000000,0.000060,0.001727,24.518200,40.042500,3.570900,12.000000,0.000620,5.000000,0.000000,0.000000
25%,960.500000,3.250000,17.000000,9.000000,312.500000,99.131400,0.001577,0.000117,2.250000,0.000000,0.000179,0.003135,35.269475,52.364525,4.204200,20.750000,0.000809,5.250000,0.000000,0.000092
50%,1669.500000,4.000000,19.500000,18.000000,690.000000,117.995700,0.003492,0.000133,3.500000,0.000023,0.000245,0.003541,46.458400,57.587200,4.833950,24.500000,0.001164,7.000000,0.000091,0.000200
75%,2497.750000,5.000000,22.750000,27.000000,782.500000,143.542950,0.004963,0.000354,4.000000,0.000076,0.000626,0.003874,50.866875,62.873550,5.216100,30.750000,0.001432,7.750000,0.000280,0.000289
max,3269.000000,6.000000,26.000000,36.000000,2000.000000,164.575800,0.017913,0.000861,7.000000,0.000344,0.001089,0.005793,94.145600,75.107100,8.546900,34.000000,0.002329,8.000000,0.000385,0.001008

In [30]:
df_fill_mean = df.fillna(np.mean(df))

In [56]:
df_fill_mean.describe()

,GameID,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
count,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000
mean,1697.000000,4.203321,21.616667,15.957641,1072.730139,116.666469,0.004291,0.000374,4.334796,0.000100,0.000385,0.003446,40.001929,63.484576,5.283635,22.078006,0.001034,6.515263,0.000059,0.000147
std,980.196409,1.299555,3.549943,10.009890,17168.223239,44.061315,0.004623,0.000194,2.012344,0.000143,0.000317,0.000839,14.074277,16.425682,1.249169,6.330117,0.000445,1.581575,0.000095,0.000233
min,0.000000,1.000000,16.000000,2.000000,3.000000,22.059600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000679,9.287100,24.093600,2.203700,5.000000,0.000077,2.000000,0.000000,0.000000
25%,848.500000,4.000000,20.000000,10.000000,400.000000,90.771300,0.001621,0.000257,3.000000,0.000016,0.000187,0.003014,32.063600,54.249250,4.652600,18.500000,0.000762,6.000000,0.000000,0.000000
50%,1697.000000,4.203321,21.616667,15.957641,730.000000,116.666469,0.004059,0.000374,4.334796,0.000092,0.000385,0.003446,40.001929,63.484576,5.283635,22.078006,0.001034,6.515263,0.000019,0.000133
75%,2545.500000,5.000000,23.000000,16.000000,1072.730139,127.253100,0.004291,0.000439,5.000000,0.000100,0.000410,0.003730,42.973200,68.221100,5.607500,25.000000,0.001097,7.000000,0.000059,0.000147
max,3394.000000,8.000000,43.000000,168.000000,1000000.000000,389.831400,0.043088,0.001752,10.000000,0.003019,0.004041,0.007971,160.953500,176.372100,18.558100,58.000000,0.005149,13.000000,0.000786,0.003084

In [29]:
df_fill_median = df.fillna(np.median(df))

/home/gabrielperson/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3250: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

In [62]:
df_fill_median.describe()

,GameID,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
count,3395.000000,2469.000000,2460.000000,2408.000000,2442.000000,2462.000000,2474.000000,2467.000000,2506.000000,2507.000000,2528.000000,2464.000000,2465.000000,2568.000000,2414.000000,2487.000000,2482.000000,2457.000000,2502.000000,2482.000000
mean,1697.000000,4.203321,21.616667,15.957641,1072.730139,116.666469,0.004291,0.000374,4.334796,0.000100,0.000385,0.003446,40.001929,63.484576,5.283635,22.078006,0.001034,6.515263,0.000059,0.000147
std,980.196409,1.523975,4.170595,11.886314,20244.049059,51.743711,0.005416,0.000228,2.342364,0.000166,0.000367,0.000984,16.518160,18.887148,1.481489,7.396344,0.000521,1.859223,0.000110,0.000272
min,0.000000,1.000000,16.000000,2.000000,3.000000,22.059600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000679,9.287100,24.093600,2.203700,5.000000,0.000077,2.000000,0.000000,0.000000
25%,848.500000,3.000000,19.000000,8.000000,300.000000,79.863600,0.001229,0.000203,3.000000,0.000000,0.000142,0.002737,28.938300,50.477375,4.283975,17.000000,0.000683,5.000000,0.000000,0.000000
50%,1697.000000,4.000000,21.000000,12.000000,500.000000,107.330100,0.002426,0.000351,4.000000,0.000041,0.000280,0.003386,36.485700,60.981300,5.119200,22.000000,0.000905,6.000000,0.000000,0.000020
75%,2545.500000,5.000000,24.000000,20.000000,800.000000,142.711350,0.005069,0.000501,6.000000,0.000125,0.000519,0.004014,48.041900,73.295375,6.046500,27.000000,0.001268,8.000000,0.000085,0.000191
max,3394.000000,8.000000,43.000000,168.000000,1000000.000000,389.831400,0.043088,0.001752,10.000000,0.003019,0.004041,0.007971,160.953500,176.372100,18.558100,58.000000,0.005149,13.000000,0.000786,0.003084

### PCA

Agora vamos utilizar o PCA para reduzir a dimensionalidade dos nossos dados.

O PCA é uma ferramenta importante usada em datasets com muitos atributos, sendo capaz de reduzir sua dimensionalidade analisando seus componentes principais, para que possamos usa-los em nosso modelo garantindo eficiencia sem muita perda de informação.

Inicialmente, vamos nos guiar pela documentação da biblioteca, que você pode acessar clicando <a href="http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html">aqui</a>.

Em um primeiro momento, não devemos passar nenhum valor para o parâmetro **n_components**, dessa forma, podemos visualizar todos os componentes principais gerados e posteriormente decidirmos o número de componentes a serem utilizados.

In [44]:
"""A função PCA não admite valores categóricos. Logo devemos retirar do nosso dataset a coluna ['species']
que será nosso target"""

data.drop('species',axis=1,inplace=True)

In [45]:
"""Importe a função PCA da biblioteca sklearn"""
from sklearn.decomposition import PCA

"""Crie uma variável pca que receba a função PCA(), em seguida treine o modelo com seus dados 
e analise a porcentagem de variância explicada por cada componente principal.
Dica: arrays possuem a função .cumsum() que permite visualizar o valor acumulativos de seus itens."""



pca = PCA()
pca.fit(data)
print(pca.explained_variance_ratio_)
print(pca.explained_variance_ratio_.cumsum())

[0.92461621 0.05301557 0.01718514 0.00518309]
[0.92461621 0.97763178 0.99481691 1.        ]

Baseando-se na análise realizada acima, já podemos reduzir a dimensionalidade de nossos dados. Agora o parâmetro **n_components** deve ser alterado recebendo como valor o número de componentes principais necessários para explicar no mínimo 97% da variância dos dados. Após a alteração do parâmetro, o modelo deve ser retreinado e em seguida, podemos realizar a transformação dos dados.

In [48]:
"""Crie uma nova variável chamada data_pca, a variável deverá receber os dados transformados pelo PCA,
contendo componentes principais suficientes para explicar 97% da variância dos dados."""

pca = PCA(n_components=2)
data_pca = pca.fit_transform(df_fill_mean)

In [49]:
pca.n_components

2

## Normalização dos dados

In [63]:
df = pd.read_csv("SkillCraft1_Dataset.csv")

Padronização é legal.
Processsamento e normalização ajuda o modelo de ML
<img src='./img/data_scale.png'></img>

### Normalização [0,1]

In [13]:
from sklearn.preprocessing import StandardScaler

In [53]:
x = data.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data_scaled = pd.DataFrame(x_scaled,columns=data.columns)

In [54]:
data_scaled.head()

   sepal_length  sepal_width  petal_length  petal_width
0      0.222222     0.625000      0.067797     0.041667
1      0.166667     0.416667      0.067797     0.041667
2      0.111111     0.500000      0.050847     0.041667
3      0.083333     0.458333      0.084746     0.041667
4      0.194444     0.666667      0.067797     0.041667

### Normalização Gaussiana (Z-score)